@media (max-width: 1620px) {
	.advantages {
    	background-image: none;
    }
}
@media (max-width: 1200px) {
  .advantages-box__images img {
    width: 80%;
  }
  .advantages-box__images {
    text-align: center;
  }
  .advantages-box {
    justify-content: space-around;
  }
  .advantages-box--right .advantages-box__title {
    padding: 30px 0 15px 20px;
  }
  .advantages-box--right .advantages-box__text {
    padding-left: 20px;
  }
  .advantages-box--right .advantages-box__info {
    padding-right: 30px;
  }
}
@media (max-width: 1190px) {
	.header-slider__item-info {
		padding: 50px 0;
	}
	.header-slider {
		padding-top: 25px;
	}
}
@media (max-width: 1080px) {
	.title-2 {
		font-size: 45px;
		left: 55%
	}
	.content {
        left: 50%;
	}
}
	
@media (max-width: 924px) {
  .title-2 {
		font-size: 45px;
  }
  .title-1 {
		left: 50%;
  }
  .box-3 {
  	top: 20%;
  }
  .header__top {
	flex-wrap: wrap;
  }
  .advantages-box__info {
    padding-top: 10px;
  }
  .advantages-box--right .advantages-box__info {
    padding-top: 10px;
  }
  .advantages-box__images img {
    width: 70%;
    margin-top: 40px;
  }
}
@media (max-width: 900px) {
	.header-slider__item-images {
		display: none;
	}
}
@media (max-width: 858px) {
  .box-2 {
  	top: 65%;
  }	
  .title-2 {
  	z-index: 1;
  }
  .cover {
    height: 400px;
  }
  .advantages-box__info {
    max-width: 100%;
  }
  .advantages-box {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .advantages-box--right .advantages-box__info {
    order: 0;
  }
  .advantages {
    padding-top: 0;
  }
  .advantages-box__images img {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .title-2 {
	font-size: 35px;
  }
}
@media (max-width: 686px) {
	
}
@media (max-width: 626px) {
	.box-2 {
		top: 55%;
		left: 70%;
	}
	.content {
		width: 450px;
		top: 70%;
		left: 10%;
	}
}
@media (max-width: 570px) {
	.title-1 {
		font-size: 45px;
	}
	.title-2 {
		left: 30%;
	}
	.box-2 {
		left: 50%;
	}
	.box-3 {
		left: 55%;
	}
	.content {
		width: 360px;
		padding-right: 10px;
	}
	.menu__list {
		display: none;
		position: absolute;
		top: 120px;
		width: 100%;
		text-align: center;
		left: 0;
		background-color: #1955AB;
		z-index: 5;
	}
	.menu__list li+li {
		padding-left: 0px;
	}
	.menu__list a {
		display: block;
		padding: 10px 0;
	}
	.menu__btn {
		width: 30px;
		height: 20px;
		position: relative;
	}
	.menu__btn span {
		width: 100%;
		height: 2px;
		background-color: #fff;
		top: 9px;
		position: absolute;
	}
	.menu__btn::after,
	.menu__btn::before {
		content: "";
		width: 100%;
		height: 2px;
		background-color: #fff;
		position: absolute;
	}
	.menu__btn::after {
		top: 0;
	}
	.menu__btn::before {
		bottom: 0;
	}
	.header {
		min-height: 580px;
	}
	.header-slider__item-info {
		padding: 10px 32px 10px 0;
	}
	.header-slider__description {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 35px;
	}
	.header-slider__title {
		font-size: 35px;
		line-height: 45px;
	}
	.advantages-box__title {
	    padding: 60px 0 15px 0;
	    font-size: 30px;
	    line-height: 40px;
  	}
  	.advantages-box__text {
    	padding-left: 0;
  	}
  	.advantages-box--right .advantages-box__text {
    	padding-left: 0;
  	} 
  	.advantages-box--right .advantages-box__title {
    	padding: 30px 0 15px 0;
  	}
}

@media(max-width: 490px) { 
	.content {
		width: 300px;
	}

  .cover {
    height: 300px;
    max-width: 100%;
  }
  .card {
    width: 84%;
    height: 65%;
    border: 10px solid white;
    box-shadow: 0px 0px 5px #333;
    position: absolute;
    transition: all ease 1s;
    left: 5%;
    top: 25%;
  }   
  
}
